.form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 50px;
}

.form__cat {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 10px;
  width: 100%;
  /* margin-top: 50px; */
  border: none;
}

.form__item {
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 15px;
}

.dish {
  width: 100%;
  font-size: 2.1rem;
  font-weight: 600;
}

.side_dish {
  max-width: 90%;
}

.side_dish,
.price {
  font-size: 2rem;
  font-weight: 300;
}

.price {
  font-weight: 600;
}

legend > h3 {
  position: relative;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 23px;
}

legend {
  position: relative;
  padding-left: 10px;
}

.green-underline {
  position: absolute;
  border-bottom: 4px rgb(126, 231, 126) solid;
  width: 50px;
  bottom: 15px;
}

input {
  position: absolute;
  left: -9999px;
}

fieldset {
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-start: 0;
  padding-block-end: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
