header {
  position: relative;
  background-color: white;
  z-index: 4;
  @media all and (min-width: 768px) {
    width: 90%;
    margin: auto;
  }
  & img {
    margin: 30px 0 20px 0;
  }
  & nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    @media all and (min-width: 768px) {
      max-width: 1200px;
      margin: auto;
    }
  }
  & .btn--back {
    position: absolute;
    left: 32px;
    top: 32px;
    font-size: 3rem;
  }
}

// header into div in each restaurants html page to do
