/* HOW TO ---------------- */

#how-to {
  width: 100%;
  & ul {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
  }
  & .fa-solid {
    position: absolute;
    left: 10%;
  }
}

// round button in round section
