#search {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  padding: 15px 0;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.3);
  line-height: 0;
  & .container {
    padding: 0px 15px 0px 15px; /* no more up nor bottom */
  }
}

.search__dot {
  position: relative;
  right: 10px;
}
