$light-clr-pri: lighten($clr-pri, 2%);
$light-clr-sec: lighten($clr-sec, 2%);

.btn--main {
  color: white;
  padding: 1.3rem 2rem;
  border-radius: 25px;
  background: linear-gradient(to bottom right, $clr-sec, $clr-pri);
  width: 260px;
  text-align: center;
  font-size: 2rem;
  margin: auto;
  /* user agent */
  border-style: none;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      to bottom right,
      $light-clr-sec,
      $light-clr-pri
    );
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
}

.btn--round {
  height: 3.5rem;
  width: 3.5rem;
  background-color: $clr-pri;
  color: white;
  position: absolute;
  left: -16px;
  border-radius: 50px;
  @include center;
}

.btn--rectangle {
  width: 100%;
  height: 80px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  position: relative;
  @include center;
  &:hover {
    background-color: rgb(249, 249, 249);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    & .btn--round {
      transform: scale(1.1);
    }
    & .fa-solid {
      transform: scale(1.2);
    }
  }
}

.btn--new {
  position: absolute;
  top: 0;
  right: 0;
  color: rgb(255, 255, 255);
  background-color: $clr-ter;
  padding: 8px;
  border-radius: 5px;
  margin: 15px 15px 0 0;
  font-size: 1.6rem;
}

// coeur dans la page index
$heart-size-card: 3.5rem;

.article__card {
  position: relative;
  & .heart {
    position: absolute;
    bottom: (8rem/2-$heart-size-card/2);
    right: 30px;
    font-size: $heart-size-card;
  }
}

#menu .fa-heart {
  font-size: 3.5rem;
  padding-right: 15px;
}

.heart {
  position: relative;
  line-height: 0;
  @include center;
  &--empty {
    color: black;
    position: relative;
  }
  &--full {
    background: -webkit-linear-gradient(top, $clr-pri 30%, $clr-sec 70%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    position: absolute;
    left: 0;
  }
  &__input {
    position: absolute;
    left: -9999px;
    animation-direction: alternate;
    &:checked + label .heart--full {
      opacity: 100;
      transition-duration: 500ms;
    }
    &:not(:checked) + label .heart--full {
      opacity: 0;
      transition-duration: 500ms;
    }
  }
  & label {
    height: min-content;
    cursor: pointer;
  }
}
