.spinner {
  color: white;
  z-index: 5;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  //   visibility: hidden;
  @include center;
  //   animation: spinner 3s ease-in-out backwards;
  font-size: 30rem;
  & .phone {
  }
  & .list {
    opacity: 0.5;
  }
  & .store {
    opacity: 0.5;
  }
}

@keyframes spinner {
  0% {
    visibility: visible;
    background-color: red;
  }
  100% {
    visibility: visible;
    background-color: blue;
  }
}
