#menu .container {
  padding-top: 0px;
  /* display: flex;
    flex-direction: column;
    align-content: space-between;
    gap: 10px; */
  padding-bottom: 15px;
}

.menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#menu h1 {
  font-family: "Shrikhand", cursive;
  font-size: 3.5rem;
  padding: 30px 0px 30px 10px;
}

.background-image {
  background-image: url("../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

#menu {
  background-color: rgb(245, 245, 245);
  border-radius: 45px 45px 0 0;
  position: relative;
  top: -45px;
}

.puzzle {
  position: absolute;
  top: -45px;
  height: 45px;
  width: 100%;
  background-color: rgb(245, 245, 245);
}
