.test {
  background-color: red;
  .machin {
    text-align: center;
    list-style: none;
    flex-direction: column;
  }
}
@mixin lines($lines: 1) {
  display: -webkit-box;
  -webkit-line-clamp: ($lines);
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin center($line-height: "") {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: $line-height;
}
